form {
    width: 500px;
    margin: 20px auto;
}

h1 {
    font-weight: normal;
    margin: 20px auto;
    text-align: center;
}
input[type=text] {
    width:100%;
    margin: 20px auto;
    border-radius: 10px;
    font-size:large;
    border: 3px solid gray;

}
input[type=submit] {
    background-color: lightgray;
    font-size:medium;
    
    width: auto;
    border: none;
    color: black;
    padding: 18px 36px;
    text-decoration: none;
    margin: 5px 4px;
    cursor: pointer; 

}
